{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/login.html"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/home/alltop/alltopasia/admin",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1589244944747.2422,
          "ctimeMs": 1589244944747.2422,
          "date": "2020-05-12T00:55:45.307Z"
        },
        {
          "file": "src/styles/styles.css",
          "mtimeMs": 1589243121457.6995,
          "ctimeMs": 1589243121457.6995,
          "date": "2020-05-12T00:25:22.192Z"
        },
        {
          "file": "src/js/app.min.js",
          "mtimeMs": 1589244772271.8748,
          "ctimeMs": 1589244772271.8748,
          "date": "2020-05-12T00:52:52.942Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1589049341781.196,
          "ctimeMs": 1589049341781.196,
          "date": "2020-05-09T18:35:42.360Z"
        },
        {
          "file": "src/js/libs.min.js",
          "mtimeMs": 1589233097636.8801,
          "ctimeMs": 1589233097636.8801,
          "date": "2020-05-11T21:38:18.312Z"
        },
        {
          "file": "src/js/scripts.js",
          "mtimeMs": 1589199634748.5737,
          "ctimeMs": 1589199634748.5737,
          "date": "2020-05-11T12:20:35.449Z"
        },
        {
          "file": "src/assets/images/providers/provider-ctb168.png",
          "mtimeMs": 1589063387128.8076,
          "ctimeMs": 1589063387128.8076,
          "date": "2020-05-09T22:29:47.864Z"
        },
        {
          "file": "src/assets/images/providers/provider-sagameing.png",
          "mtimeMs": 1589063470007.941,
          "ctimeMs": 1589063470007.941,
          "date": "2020-05-09T22:31:10.737Z"
        },
        {
          "file": "src/assets/images/providers/provider-wmcasino.png",
          "mtimeMs": 1589063512735.4187,
          "ctimeMs": 1589063512735.4187,
          "date": "2020-05-09T22:31:53.461Z"
        },
        {
          "file": "src/assets/images/providers/provider-sexybarcarat.png",
          "mtimeMs": 1589064196727.2568,
          "ctimeMs": 1589064196727.2568,
          "date": "2020-05-09T22:43:17.557Z"
        },
        {
          "file": "src/assets/images/providers/provider-joker.png",
          "mtimeMs": 1589065000817.1267,
          "ctimeMs": 1589065000817.1267,
          "date": "2020-05-09T22:56:41.616Z"
        },
        {
          "file": "src/assets/images/providers/provider-isoftbet.png",
          "mtimeMs": 1589064814334.2534,
          "ctimeMs": 1589064814334.2534,
          "date": "2020-05-09T22:53:35.058Z"
        },
        {
          "file": "src/assets/images/providers/provider-lotto57.png",
          "mtimeMs": 1589065074934.2122,
          "ctimeMs": 1589065074934.2122,
          "date": "2020-05-09T22:57:55.661Z"
        },
        {
          "file": "src/assets/images/providers/provider-ezgame.png",
          "mtimeMs": 1589065161270.5676,
          "ctimeMs": 1589065161270.5676,
          "date": "2020-05-09T22:59:22.011Z"
        },
        {
          "file": "src/assets/brand/ctb168.png",
          "mtimeMs": 1589092153527.544,
          "ctimeMs": 1589092153527.544,
          "date": "2020-05-10T06:29:14.402Z"
        },
        {
          "file": "src/assets/images/hilight/ctb168-sportbet.jpg",
          "mtimeMs": 1589100835638.8147,
          "ctimeMs": 1589100835638.8147,
          "date": "2020-05-10T08:55:31.235Z"
        },
        {
          "file": "src/assets/images/border.png",
          "mtimeMs": 1589102922530.2473,
          "ctimeMs": 1589102922530.2473,
          "date": "2020-05-10T09:28:43.246Z"
        },
        {
          "file": "src/assets/images/providers/provider-wmcasino-bw.png",
          "mtimeMs": 1589110427759.157,
          "ctimeMs": 1589110427759.157,
          "date": "2020-05-10T11:33:48.500Z"
        },
        {
          "file": "src/assets/images/providers/provider-sexybarcarat-bw.png",
          "mtimeMs": 1589110446828.0027,
          "ctimeMs": 1589110446828.0027,
          "date": "2020-05-10T11:34:07.586Z"
        },
        {
          "file": "src/assets/images/providers/provider-sagameing-bw.png",
          "mtimeMs": 1589110465140.926,
          "ctimeMs": 1589110465140.926,
          "date": "2020-05-10T11:34:25.903Z"
        },
        {
          "file": "src/assets/images/providers/provider-lotto57-bw.png",
          "mtimeMs": 1589110479776.879,
          "ctimeMs": 1589110479776.879,
          "date": "2020-05-10T11:34:40.561Z"
        },
        {
          "file": "src/assets/images/providers/provider-joker-bw.png",
          "mtimeMs": 1589110497833.7793,
          "ctimeMs": 1589110497833.7793,
          "date": "2020-05-10T11:34:58.598Z"
        },
        {
          "file": "src/assets/images/providers/provider-isoftbet-bw.png",
          "mtimeMs": 1589110514139.1404,
          "ctimeMs": 1589110514139.1404,
          "date": "2020-05-10T11:35:14.903Z"
        },
        {
          "file": "src/assets/images/providers/provider-ezgame-bw.png",
          "mtimeMs": 1589110530182.7915,
          "ctimeMs": 1589110530182.7915,
          "date": "2020-05-10T11:35:31.022Z"
        },
        {
          "file": "src/assets/images/providers/provider-ctb168-bw.png",
          "mtimeMs": 1589110546368.4854,
          "ctimeMs": 1589110546368.4854,
          "date": "2020-05-10T11:35:47.149Z"
        },
        {
          "file": "src/assets/brand/ctb168-device--@2x.png",
          "mtimeMs": 1589195319906.621,
          "ctimeMs": 1589195319906.621,
          "date": "2020-05-11T11:08:40.660Z"
        },
        {
          "file": "src/assets/brand/ctb168-device--@3x.png",
          "mtimeMs": 1589195318324.1384,
          "ctimeMs": 1589195318324.1384,
          "date": "2020-05-11T11:08:39.073Z"
        },
        {
          "file": "src/assets/brand/ctb168-device--fallback.png",
          "mtimeMs": 1589195308023.267,
          "ctimeMs": 1589195308023.267,
          "date": "2020-05-11T11:08:28.777Z"
        },
        {
          "file": "src/assets/brand/ctb168-device--@1x.png",
          "mtimeMs": 1589195321353.6348,
          "ctimeMs": 1589195321353.6348,
          "date": "2020-05-11T11:08:42.152Z"
        },
        {
          "file": "src/assets/images/hilight/hilight-sport-device--@1x.jpg",
          "mtimeMs": 1589195919677.753,
          "ctimeMs": 1589195919677.753,
          "date": "2020-05-11T11:18:40.520Z"
        },
        {
          "file": "src/assets/images/hilight/hilight-sport-device--fallback.jpg",
          "mtimeMs": 1589195965007.4714,
          "ctimeMs": 1589195965007.4714,
          "date": "2020-05-11T11:19:25.848Z"
        },
        {
          "file": "src/assets/images/hilight/hilight-virtualandlottot-device--fallback.jpg",
          "mtimeMs": 1589196027394.2605,
          "ctimeMs": 1589196027584.027,
          "date": "2020-05-11T11:20:28.187Z"
        },
        {
          "file": "src/assets/images/hilight/hilight-casinoandslot-device--fallback.jpg",
          "mtimeMs": 1589196058657.602,
          "ctimeMs": 1589196058862.1616,
          "date": "2020-05-11T11:20:59.486Z"
        },
        {
          "file": "src/assets/icons/flag/th.png",
          "mtimeMs": 1589197884845.4111,
          "ctimeMs": 1589197884845.4111,
          "date": "2020-05-11T11:51:26.574Z"
        },
        {
          "file": "src/assets/icons/flag/en.png",
          "mtimeMs": 1589197893180.2893,
          "ctimeMs": 1589197893180.2893,
          "date": "2020-05-11T11:51:33.923Z"
        },
        {
          "file": "src/js/libs.js",
          "mtimeMs": 1589233076220.3418,
          "ctimeMs": 1589233076347.0386,
          "date": "2020-05-11T21:37:57.029Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "scss/style.scss",
        "config": {
          "tasks": {
            "autoprefixer": {
              "enable": false
            }
          },
          "customOutput": "src\\styles\\style.css",
          "autoCompile": false
        }
      },
      {
        "file": "scss/styles.scss",
        "config": {
          "customOutput": "src\\styles\\styles.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "src/js/libs.js",
        "config": {
          "customOutput": "src\\js\\libs.min.js"
        }
      }
    ]
  }
}
